<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>about page</title>
</head>
<body>
	<section >
	<div class="container">
		<div class="email row">
		<div class="col-md">
			<div class="card">
				
                   <h3 class="mt-4 text-center">Enter New Password</h3>
                   
                   
				<form  method="post" th:action="@{/change-password}" >
					
					<div class="form-group my-2" style="width:56%;margin-left: 175px;">
						<input required name="newpassword"  type="password " class="form-control" placeholder="Enter new password"/>
					</div>
					
					
					
					
					<div class="container text-center my-3">
						<button   class="btn btn-primary">Change Password</button>
					</div>
					
					</form>
				</div>
				
				
			</div>
			
			
		</div>
			
			
		</div>
		
	</div>
</section>
</body>
</html>